.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: #1e272e;
  min-height: 100vh;  
  color: white;
  padding: 100px;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Roboto','Montserrat', sans-serif;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  transform: rotate(0deg);
  background-color: #282c34;
  }
  to {
    transform: rotate(360deg);
  }
}

.section-projects{
  display: flex;
  justify-content: center; /* Centers the grid horizontally */
  align-items: center;     /* Centers the grid vertically */
  height: 100vh;           /* Full height of the viewport */
  width: 100%;             /* Full width of the viewport */
}

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #282c34;
    color: white;
    list-style-type: none; /* Add this line to remove bullet points */

    
  }

  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
  }

  .navbar-links {
    display: flex;
    gap: 20px;
  }

  .navbar-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }

  .navbar-link:hover {
    color: #61dafb;
  }