.contact {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .contact label {
    display: block;
    margin-bottom: 5px;
  }
  
  .contact input[type="email"],
  .contact input[type="text"],
  .contact textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: transparent; /* Make the background transparent */

  }
  
  .contact textarea {
    height: 100px;
  }
  
  .contact button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .contact button:hover {
    background-color: #0056b3;
  }
  
  .contact p {
    margin-top: 20px;
  }
  