.fixed {
  position: fixed;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 8rem;
  flex-direction: column;
  display: flex;
  padding-top: 3rem;
  background-color: #1e272e;

}

.sidebar-icon {
  padding: 1rem;
  color: inherit;
  text-decoration: none; /* Remove underline from links */
  transition: transform 0.2s ease-in-out;
}

.sidebar-icon:hover,
.sidebar-icon.group:hover {
  transform: scale(1.1); /* Optional hover effect */
}

.sidebar-tooltip {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
  top: 50%;          /* Center vertically relative to the icon */
  left: 100%;        /* Position tooltip to the right of the icon */
  transform: translateY(-50%);  /* Center vertically relative to the icon */
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
  margin-left: 0.5rem; /* Fine-tune the distance between the tooltip and the icon */
}

/* Assuming .group is the parent element that triggers the tooltip */
.group:hover .sidebar-tooltip {
  opacity: 1;      /* Show the tooltip */
  pointer-events: auto; /* Enable pointer events */
}
