body {
  margin: 0;
  text-align: left;
  background-color: #151010; /* Same color as .App */
  font-family: 'Roboto Mono', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


* {
  text-align: left;
  
 }

